.ShimmerAnimation {
  background: rgb(6, 128, 239);
  background-image: linear-gradient(
    90deg,
    rgba(6, 128, 239, 1) 15%,
    rgba(9, 186, 248, 1) 50%
  );
  background-repeat: no-repeat;
  background-size: 800px 500px;

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: 50px 0;
  }
}
